@media screen and (max-width: 480px) {
   
    #heading{
        font-size: 13px !important;
        font-weight: 400px !important;
    }

    #form-container{
        margin-top: 10px;
    }
    #form{
        gap:10px;
    }
    #form input{
        width: 250px;
        height: 40px;
        box-shadow: -2px -2px 3px #12062b;

    }
    #add-btn{
        width: 70px;
        height: 40px;
        font-size: 12px;
    }

    #city-weather-container{
        width: 100%;
        padding: 5px;
    }

    .weather-div{
        width: 95%;
        height: 190px;
        margin-left: auto;
        margin-right: auto;
    }

    #temp_deg{
        font-size: 20px;
    }
    #city-name-p{
        font-size: 14px;
    }
    #extra-details{
        gap:5px;
    }
    #sun{
        height: 50px;
        font-size: 12px;
    }
    #cloudiness{
        font-size: 10px;
    }

    #wind-detail{
        font-size: 12px;
    }
    #feels-like{
        font-size: 12px;
    }
}